apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: secretarai
  namespace: secretarai
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - host: secretarai.duckdns.org
    http:
      paths:
      - path: /api(/|$)(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: api
            port:
              number: 5000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: web
            port:
              number: 80
