@import "tailwindcss";

@theme {
    /* Light Tan */
  --color-tan-100: #faf6f1;
  --color-tan-200: #f0e3d6;
  --color-tan-300: #e3d4c3;
  --color-tan-400: #cfbeab;
  --color-tan-500: #bfa48d;
  --color-tan-600: #a6876e;
  --color-tan-700: #8b6b53;

  /* Blue Grey */
  --color-bluegrey-100: #eff6f9;
  --color-bluegrey-200: #d9e7ef;
  --color-bluegrey-300: #c4d8e2;
  --color-bluegrey-400: #abc2cf;
  --color-bluegrey-500: #8fa8b6;
  --color-bluegrey-600: #708a98;
  --color-bluegrey-700: #516a78;

  /* Cool Grey */
  --color-coolgrey-110: #e4e7e8;
  --color-coolgrey-100: #cfd3d5;
  --color-coolgrey-200: #b5b9bc;
  --color-coolgrey-300: #9a9fa2;
  --color-coolgrey-400: #7f8487;
  --color-coolgrey-500: #666c70;
  --color-coolgrey-600: #4c5256;
  --color-coolgrey-700: #32373a;

  /* Blue */
  --color-blue-100: #d7e9fb;
  --color-blue-200: #a8ccf4;
  --color-blue-300: #7aafed;
  --color-blue-400: #4b92e5;
  --color-blue-500: #2673bf;
  --color-blue-600: #1d5c99;
  --color-blue-700: #154472;
}



:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-tan-600 text-coolgrey-700;
  margin: 0;
  min-height: 100vh;
  /* background-color: var(--tan-100); */
  /* color: var(--coolgrey-700); */
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
}
